// 
// user-variables.scss
// Use this to overwrite Bootstrap and Coach variables
//
// Example of a variable override to change Coach primary color
// Remove the "//" to comment it in and see it in action!
// $primary: #000;

$primary: #fecd0d ;
$success: #c1d101 !default;
$light: #e5e5e5 ;
$dark: #000000 ;



