<!-- footer -->
<div class="footer pt-11 pb-3 bg-dark text-base">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-6">
                <div class="mb-4">
                    <h4 class="mb-4 text-white">Contact</h4>
                    <ul class="list-unstyled list-group text-white">
                        <li class="list-group-item"><a>Logistics Community Brabant, Mgr. Hopmansstraat 2 BUas campus</a></li>
                        <li class="list-group-item"><a>Frontier gebouw, 4811 DK Breda</a></li>
                        <li class="list-group-item"><a>info@lcb.nu</a></li>


                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-6">
                <div class="mb-4">

                    <ul class="list-unstyled list-group text-white">
                        <li class="list-group-item"><p  class="list-group-item text-white"><u>Lid worden</u></p></li>
                        <li class="list-group-item"><a href="https://lcb.nu" class="list-group-item-link text-white">Kijk snel op LCB.nu</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-12">
                <div class="mt-8">
                    <ul class="list-inline text-white">
                        <li class="list-inline-item">© 2020 Logistics Community Brabant.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
